<html>
  <head>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
  </head>
  <body>
  <div class="body">
    <form class="" action="/surveys/process" method="post">
      <div>Your Name: <input type="text" name="name" value=""></div>
      <div>Dojo Location: <select class="" name="location"></div>
        <option value="Dallas">Dallas</option>
        <option value="Seattle">Seattle</option>
      </select>
      <div>Favorite Language: <select class="" name="language"></div>
        <option value="Python">Python</option>
        <option value="HTML">HTML</option>
        <option value="Javascript">Javascript</option>
      </select>
      <div>Comment (optional): <input type="text" name="comment" value=""></div>
      <input type="submit" name="submit" value="Submit">
    </form>
  </div>
  </body>
</html>
